<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Osca Technologies</title>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <link href="https://file.myfontastic.com/iZTDvZLxyGR9LXpcE248tA/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,300i,400,400i" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">

  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/static/img/logo_osca_png.png" alt="Monitoring your Proccess" width="250">
      </div>

      <div class="menu">
        <nav>
          <ul>
            <li><a href="">¿Quienes Somos?</a></li>  
            <li><a href="">¿Servi&oacute;s?</a></li>
            <li><a href="">Contactos</a></li>
            <li><a href="">Entrar</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h2><i data-icon="g" class="icon dispositivos" style="margin-right: 5px"></i>Lista de Tareas</h2>
      <div class="lista-tareas">
        <h3><i data-icon="f" class="icon dispositivos" ></i>Dispositvo: Nombre del Dispositivo.</h3>
        <table>
          <thead>
            <tr>
               <td>
              Valor a monitorear
              </td>
              <td>
              Fecha
              </td>
              <td>
              Condicion
              </td>
              <td>
              Acci&oacute;n
              </td>
              <td></td>
              <td></td>
            <tr>  
          </thead>

          <tbody>
            <tr>
              <td>Temperatura</td>
              <td>01/01/2017</td>
              <td>> 50</td>
              <td>Apagar Dispositivo 1</td>
              <td  class="icons">
                <a href="#"><i data-icon="e" class="icon"></i></a>
                <a href="#"><i data-icon="d" class="icon"></i></a> 
                 
              </td>
            </tr>

            <tr>
              <td>Temperatura</td>
              <td>01/01/2017</td>
              <td>> 50</td>
              <td>Apagar Dispositivo 1</td>
              <td  class="icons">
                <a href="#"><i data-icon="e" class="icon"></i></a>
                <a href="#"><i data-icon="d" class="icon"></i></a> 
                 
              </td>
            </tr>

            <tr>
              <td>Temperatura</td>
              <td>01/01/2017</td>
              <td>> 50</td>
              <td>Apagar Dispositivo 1</td>
              <td  class="icons">
                <a href="#"><i data-icon="e" class="icon"></i></a>
                <a href="#"><i data-icon="d" class="icon"></i></a> 
                 
              </td>
            </tr>

            <tr>
              <td>Temperatura</td>
              <td>01/01/2017</td>
              <td>> 50</td>
              <td>Apagar Dispositivo 1</td>
              <td  class="icons">
                <a href="#"><i data-icon="e" class="icon"></i></a>
                <a href="#"><i data-icon="d" class="icon"></i></a> 
                 
              </td>
            </tr>

            <tr>
              <td>Temperatura</td>
              <td>01/01/2017</td>
              <td>> 50</td>
              <td>Apagar Dispositivo 1</td>
              <td  class="icons">
                <a href="#"><i data-icon="e" class="icon"></i></a>
                <a href="#"><i data-icon="d" class="icon"></i></a> 
                 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
  </html>  